body {
  font-family: Arial, sans-serif;
  margin: 0; padding: 0; background: #5c6957; color: #222;
}
header {
  background: #fff;
  color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.logo img {
  height: 40px;
}

ul.menu {
  display: flex;
  align-items: center; 
  list-style: none;
  margin: 0em;
  padding: 0 1.5em 0 0;
}

ul.menu li {
  margin-left: 1.5em;
}

ul.menu li a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
h1 { margin-bottom: 0.1em; }

.fondo-mitad {
  width: 100%;
  height: 100%;

}

.fondo-mitad section {
  max-width: 100%;
  background: #e8eaff;
  min-height: 600px;
  border-radius: 0 0 0 64px; 
  display: flex;
}
.mitad-texto,
.mitad-img{
  flex: 1.2 0.8 50%;
  padding: 5em 0 0 5em;
}
h1 {
  font-size: 36px;
}
section { max-width: 600px; margin: 2em auto; padding: 1em; background: #fff; border-radius: 8px; }
ul { list-style: none; padding: 0; }
li { margin-bottom: 0em; }
footer { text-align: center; padding: 1em; background: #e9e9e9; margin-top: 2em; }
